.mainBody{
  width: 95%;
  height: 95vh;
  margin: auto auto;
  text-align: center;
  border:1px solid black
}

.betInfo{
  text-align: center;
  font-size: 30px;
}
.betNow{
  color: red;
  font-size: 50px;
}
.mainButtonsMenu{
  display: flex;
  justify-content:space-around;
  margin-bottom: 20px;
}
.button{
  min-width: 60px;
  min-height: 40px;
}
.side__buttons--ds{
  margin-bottom: 20px;
}